html, body {
  height: 100%;
  margin: 0;
  font-family: system-ui;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;
}

/* Optional: Styles for Footer to ensure it looks nice */
.Footer {
  background-color: #f8f9fa;
  padding: 1rem;
}